.footer {
    background-color: #001337;
    color: #fff;
    font-family: "Open Sans", Arial, sans-serif;
    display: grid;
    padding: 40px 16px 33px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 7px;
    grid-template-areas: "footer__logo footer__info"
    "footer__column_type_about footer__column_type_education"
    "footer__contacts footer__contacts"
    "footer__social footer__social"
    "footer__copyright footer__copyright"
;
}
.footer__logo{
    grid-area: footer__logo;
    width: 98px;
    height: 33px;
}
.footer__info{
    margin: 0;
    grid-area: footer__info;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
}
.footer__text{
    display: none;
    margin: 12px 0 0;
    grid-area: footer__text;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.1px;
}
.footer__column{

}
.footer__column_type_about{
    grid-area: footer__column_type_about;
}
.footer__column_type_education{
    grid-area: footer__column_type_education;
}
.footer__title{
    margin: 40px 0 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.0588372px;
}
.footer__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer__list-item{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.66;
}
.footer__list-link{
    letter-spacing: 0.1px;
    text-decoration: none;
    color: #fff;
}
.footer__contacts{
    grid-area: footer__contacts;
}
.footer__city{
    margin: 40px 0 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.36;
}
.footer__address{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.66;
    letter-spacing: 0.1px;
}
.footer__tel{
    text-decoration: none;
    color: #fff;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.66;
    letter-spacing: 0.1px;
}
.footer__tel:first-of-type{
    margin-top: 8px;
}
.footer__email{
    display: block;
    text-decoration: none;
    color: #fff;
    margin-top: 9px;
}
.footer__social{
    grid-area: footer__social;
    list-style-type: none;
    display: flex;
    margin: 21px 0 0;
    padding: 0;
    width: 149px;
    height: 22px;
    justify-content: space-between;
}
.footer__social-icon{
    height: 22px;
    width: 22px;
}
.footer__copyright{
    margin: 40px 0 0;
    grid-area: footer__copyright;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    opacity: 0.5;
}

@media screen and (min-width: 768px) {
    .footer{
        padding: 60px 39px;
        padding-left: calc((100% - 690px)/2 );
        grid-template-columns: 210px 90px 90px 206px;
        grid-template-areas:
        "footer__logo footer__logo footer__logo footer__logo"
        "footer__info footer__info footer__info footer__info"
        "footer__text footer__column_type_about footer__column_type_education footer__contacts"
        "footer__copyright footer__copyright . footer__social";
        row-gap: 30px;
        column-gap: 30px;
    }
    .footer__text{
        display: block;
    }
    .footer__logo{
        width: 150px;
        height: 54px;
    }
    .footer__title{
        margin: 15px 0 12px;
    }
    .footer__list-link{
        line-height: 1.33;
    }
    .footer__list-item{
        margin-bottom: 4px;
    }
    .footer__city {
        margin: 14px 0 15px;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.12;
        letter-spacing: 0.1px;
    }
    .footer__tel:first-of-type {
        margin-top: 12px;
    }
    .footer__email{
        margin-top: 14px;
    }
    .footer__social{
        margin: 2px 0 0;

    }
    .footer__copyright{
        margin: 5px 0 0;
        text-align: start;
        letter-spacing: 0.1px;
    }
}
@media screen and (min-width: 1024px) {
    .footer {
        padding: 80px 165px;
        padding-left: calc((100% - 1110px) / 2);
        grid-template-columns: 263px 95px 95px 206px;
        row-gap: 37.5px;
        column-gap: 150px;
    }
    .footer__info{
        margin-top: 11px;
        max-width: 240px;
        font-size: 14px;
        line-height: 19px;
    }
    .footer__text{
        font-size: 14px;
        line-height: 19px;
    }
    .footer__title{
        font-size: 14px;
        line-height: 19px;
    }
    .footer__list-link{
        font-size: 14px;
        line-height: 19px;
    }
    .footer__city{
        font-weight: 600;
        line-height: 167%;
    }
    .footer__address{
        font-size: 14px;
        line-height: 19px;
    }
}
