.form {
  display: grid;
  grid-template-areas:
    "name"
    "surname"
    "phone"
    "email"
    "message"
    "submit";
  gap: 10px;
}

.form__element {
  border: none;
  border-radius: 5px;
  margin: 0;
  padding: 12px 10px;
  line-height: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}

.form__element::placeholder {
  color: #009fac;
  opacity: 1;
  line-height: 16.34px;
  font-weight: 400;
  font-size: 12px;
}

.form__element_type_name {
  grid-area: name;
}

.form__element_type_surname {
  grid-area: surname;
}

.form__element_type_phone {
  grid-area: phone;
}

.form__element_type_email {
  grid-area: email;
}

.form__element_type_message {
  grid-area: message;
  resize: none;
  height: 140px;
  box-sizing: border-box;
  margin-block-end: 13px;
}

.form__submit {
  grid-area: submit;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 12.5px 16px;
  background-color: #009fac;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  margin: 0;
  margin-block-end: 40px;
  cursor: pointer;
}
