.header {
  color: #fff;
  min-width: 320px;
  background: #000d26;
}

.header__content {
  position: relative;
}

.header__control-menu {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  object-fit: contain;
  width: 71px;
  margin: 10px auto;
  padding-inline-end: 36px;
}

.header__control-acordion {
  border: none;
  margin: 0;
  padding: 0;
  padding-inline-start: 16px;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

.header__logo_menu_open {
  margin: 6px auto 10px 16px;
}

.header__close-icon {
  background-image: url("../images/Header/close.svg");
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  margin: 14px 16px;
  padding: 0;
  background-position: center;
  cursor: pointer;
  display: none;
}

.header__close-icon_active {
  display: block;
}

.header__menu {
  position: relative;
  background: #000d26;
  height: 0;
  overflow: hidden;
  transition: height 0.1s ease-out;
  will-change: contents;
  z-index: 0;
}

.header__menu_active {
  margin-block-start: 14px;
  height: 100vh;
}

.header__menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.header__nested-list {
  max-height: 0;
  transition: max-height 0.3s ease-out, opacity 0.1s ease-out;
  margin: 0;
  opacity: 0;
  will-change: contents;
}
.header__nested-list > .header__menu-item {
  position: relative;
  z-index: 0;
}

.header__nested-list_opened {
  transition: max-height 0.3s ease-out, opacity 0.5s ease-out;
  opacity: 1;
}

.header__menu-item {
  min-height: 44px;
  line-height: 38px;
  opacity: 1;
  transition: opacity 0.3s linear;
  z-index: 1;
  position: relative;
}

.header__menu-item:hover {
  background-color: #001337;
}

.header__menu-link {
  text-decoration: none;
  padding-inline-start: 16px;
  color: #fff;
}

.header__menu-item_type_dark {
  opacity: 0.5;
  pointer-events: none;
}

.header__menu-link_size_small {
  font-size: 12px;
  letter-spacing: 0.1px;
}

.header__menu-item_type_ligth {
  opacity: 1;
}

.header__burger-menu {
  background-color: transparent;
  background-image: url("../images/Header/burger-menu.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  margin-block-start: 10px;
  margin-inline-start: 18px;
  padding: 0;
}

.header__burger-menu_disabled {
  display: none;
}

@media screen and (min-width: 767px) {
  .header {
    min-height: 60px;
  }
  .header__menu_open {
    width: 330px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .header__logo {
    margin: 14px auto;
    width: 94.67px;
    padding-inline-end: 59px;
  }
  .header__logo_menu_open {
    margin: 8px auto 0 40px;
  }
  .header__menu-link {
    padding-inline-start: 40px;
  }
  .header__control-acordion {
    padding-inline-start: 40px;
  }

  .header__burger-menu {
    margin-block-start: 18px;
    margin-inline-start: 40px;
  }
  .header__menu {
    position: absolute;
    top: 46px;
    left: 0;
    width: 330px;
    z-index: 10;
  }
  .header__menu_active {
    margin: 0;
  }
  .header__menu-list {
    padding-block-start: 34px;
  }
  .header__nested-list {
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .header__burger-menu {
    display: none;
  }
  .header__content {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
  }

  .header__logo {
    width: 150px;
  }

  .header__menu {
    position: static;
    width: auto;
    height: auto;
  }
  .header__menu-list {
    display: flex;
    position: relative;
    column-gap: 10px;
    padding: 19px 0 0;
    line-height: 24px;
  }
  .header__nested-list {
    max-height: fit-content;
    margin: 0;
    will-change: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #000d26;
    top: 40px;
    left: 0;
    transition: opacity 0.2s ease-out;
  }
  .header__nested-list > li > a {
    padding: 0;
  }

  .header__menu {
    overflow: visible;
  }
  .header__menu-item:hover {
    background: none;
    box-shadow: 0px 2px 0px #009fac;
  }

  .header__menu-item {
    min-width: 100px;
    text-align: center;
  }
  .header__menu-item_type_container:hover {
    opacity: 1;
  }

  .header__menu-item_type_small {
    box-shadow: none;
  }
  .header__menu-link {
    padding: 0;
  }
  .header__control-acordion {
    padding: 0;
  }
}

@media screen and (min-width: 1240px) {
  .header__content {
    padding: 0 135px;
  }
  .header__menu-list {
    column-gap: 20px;
  }
}

@media screen and (min-width: 1439px) {
  .header__content {
    padding: 0 165px;
  }
}
