.header {
  color: #fff;
  min-width: 320px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  background: #000d26;
  z-index: 10;
  position: relative;
}

.header__logo {
  object-fit: contain;
  width: 71px;
  margin: 10px auto 10px auto;
  padding-inline-end: 38px;
}

.header__logo_menu_open {
  margin: 10px auto 10px 16px;
}

.header__close-icon {
  background-image: url("../images/Header/close.png");
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  margin: 12px 16px;
  cursor: pointer;
  display: none;
}

.header__close-icon_active {
  display: block;
}

.header__menu {
  background: #000d26;
  padding-block-start: 16px;
  margin-block-start: -324px;
  transition: 0.1s linear;
}

.header__menu_active {
  margin-block-start: 0;
}

.header__menu-list {
  list-style: none;
  margin: 0;
  margin-inline-start: 16px;
  padding: 0;
}

.header__menu-item {
  min-height: 44px;
  line-height: 38px;
}

.header__menu-link {
  text-decoration: none;
  color: #fff;
}

.header__burger-menu {
  background-color: transparent;
  background-image: url("../images/Header/icons-menu.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  margin-block-start: 12px;
  margin-inline-start: 18px;
}

.header__burger-menu_disabled {
  display: none;
}
