.partners {
    /* display: flex; */
    background-color: rgba(0, 19, 55, 1);
    font-family: "Open Sans", Arial, sans-serif;
    color:#FFFFFF;
}
.partners__container{
    /* display: flex; */
    background-color: rgba(0, 19, 55, 1);
    height: 457px;
    width: 320px;
    margin: 0 auto;
    padding: 34px 16px 0 16px;
    box-sizing: border-box;
}

.partners__heading {
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: inherit;
    margin: 0 0 20px;
}

.partners__preamble {

    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}
.partners__recommendations {
    margin: 0 0 16px 0;
}

.partners__company-list{
    padding: 22px 0 0;
    margin: 0 auto;
    list-style-type: none;
    display: grid;
    row-gap: 4px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 33.33%);
    grid-template-areas:
            'rosneft gazprom mailgroup'
            'siemens mailgroup1 gazprom1'
            'sber sber huawei';
}
.partners__company{
    display: flex;
    align-items: end;
}
.partners__image{
    width: 48px;
    background-position: center;
    background-size: contain;
}
.partners__company_sber{
    grid-area: sber;
}
.partners__company_huawei{
    grid-area: huawei;
}
.partners__company_rosneft{
    grid-area: rosneft;
}
.partners__company_gazprom{
    justify-self: center;
    grid-area: gazprom;
    padding-left: 25px;
}
.partners__company_gazprom_double{
    justify-self: end;
    grid-area: gazprom1;
}
.partners__company_mail-group{
    justify-self: end;
    grid-area: mailgroup;
}
.partners__company_mail-group_double{
    justify-self: center;
    grid-area: mailgroup1;
    padding: 5px 0 0 35px;
}
.partners__company_siemens{
    grid-area: siemens;
    padding: 0 0 5px 0;
}


.partners__image_sber{
    width: 150px;
    margin: 5px 2px 0 0;
}
.partners__image_huawei{
    width: 94px;
}
.partners__image_rosneft{
    width: 90px;
}
.partners__image_gazprom{
    width: 46px;
}
.partners__image_mail-group{
    width: 64px;
    margin: 11px 0 0;
}
.partners__image_siemens{
    margin-left: 2px;
    width: 80px;
}

/* @media screen and (min-width: 768px) {

    .partners {
        padding: 60px 0 0;
    }

    .partners__heading {
        margin: 0 0 40px;
        font-size: 24px;
        line-height: 33px;
    }

} */