.publications-card {
    font-family: "Open Sans", Arial, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 4px 20px rgba(1, 54, 157, 0.15);
    border-radius: 5px;
    overflow: hidden;
}

.publications-card__image {
    width: 256px;
    height: 160px;
    margin: 16px 16px 0;
    object-fit: cover;
    border-radius: 10px;
}

.publications-card__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    color: #000d26;
    margin: 12px 16px 0;
    overflow: hidden;
}

.publications-card__authors {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    font-style: italic;
    color: #009fac;
    margin: 4px 16px 0;
    overflow: hidden;
}

.publications-card__text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #000d26;
    margin: 10px 16px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.publications-card__actions {
    background-color: #009fac;
    margin: 16px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 44px;
    padding: 0 18px 0 16px;
    box-sizing: border-box;
}

.publications-card__link {
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}


.publications-card__link::after {
    content: url(../images/icons/arrow-right.svg);
    width: 24px;
    height: 24px;
}

.publications-card__link:hover {
    text-decoration: underline;
}

.publications-card__share {
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/share-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}

.publications-card__share:hover {
    opacity: .7;
}

.publications-card__share-container {
    position: absolute;
    right: 0;
    bottom: 44px;
}

.publications-card__share-container::after {
    display: none;
}

@media screen and (min-width: 768px) {
    .publications-card__image {
        width: 291px;
        height: 158px;
        margin: 20px 20px 0;
    }

    .publications-card__title {
        font-size: 18px;
        line-height: 30px;
        margin: 20px 20px 0;
    }

    .publications-card__authors {
        font-size: 14px;
        line-height: 19px;
        margin: 4px 20px 0;
    }

    .publications-card__text {
        font-size: 14px;
        line-height: 19px;
        margin: 12px 20px 0;
    }

    .publications-card__actions {
        margin: 10px 0 0;
        padding: 0 22px 0 20px;
    }
}

@media screen and (min-width: 1440px) {

    .publications-card__image {
        width: 310px;
        height: 223px;
        transition: height .5s ease-in;
    }

    .publications-card__text {
        margin: 20px 20px 30px;
        transition: margin .5s ease-in;
    }

    .publications-card__actions {
        margin: 0;
        min-height: 0;
        height: 0;
        transition: min-height .5s ease-in;
    }

    .publications-card:hover > .publications-card__image {
        height: 158px;
    }

    .publications-card:hover > .publications-card__text {
        margin: 20px 20px 26px;
    }

    .publications-card:hover > .publications-card__actions {
        display: flex;
        min-height: 70px;
    }
}




