.publications {
    background-color: #e0f0ff;
    font-family: "Open Sans", Arial, sans-serif;
    padding: 60px 0 0;
}

.publications__heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 33px;
    font-weight: 600;
    color: #000d26;
}

.publications__swiper {
    padding-bottom: 32px;
}

.publications__cards {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.publications__item {
    width: 288px;
    height: 462px;
    box-sizing: border-box;
}


.publications__pagination.swiper-pagination {
    bottom: 14px;
}

.publications__pagination > .swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    background-color: #000d26;
    opacity: .5;
}

.publications__pagination > .swiper-pagination-bullet-active {
    opacity: 1;
}

.publications__pagination > .swiper-pagination-bullet-active-prev {
    transform: none;
}

.publications__pagination > .swiper-pagination-bullet-active-prev-prev {
    transform: none;
}

.publications__pagination > .swiper-pagination-bullet-active-next {
    transform: none;
}

.publications__pagination > .swiper-pagination-bullet-active-next-next {
    transform: none;
}