.publications {
    background-color: #e0f0ff;
    font-family: "Open Sans", Arial, sans-serif;
    padding: 40px 0 0;
}

.publications__heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: #000d26;
    margin: 0 0 20px;
}



.publications__swiper-button {
    display: none;
}

.publications__swiper {
    padding-bottom: 32px;
}


.publications__cards {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.publications__item {
    max-width: 288px;
    box-sizing: border-box;
    list-style-type: none;
    min-height: 462px;
    position: relative;
}


.publications__pagination.swiper-pagination {
    bottom: 14px;
}

.publications__pagination > .swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    background-color: #000d26;
    opacity: .5;
}

.publications__pagination > .swiper-pagination-bullet-active {
    opacity: 1;
}

.publications__pagination > .swiper-pagination-bullet-active-prev {
    transform: none;
}

.publications__pagination > .swiper-pagination-bullet-active-prev-prev {
    transform: none;
}

.publications__pagination > .swiper-pagination-bullet-active-next {
    transform: none;
}

.publications__pagination > .swiper-pagination-bullet-active-next-next {
    transform: none;
}

.publications__share-container {
    position: absolute;
}

@media screen and (min-width: 768px) {

    .publications {
        padding: 60px 0 0;
    }

    .publications__heading {
        margin: 0 0 40px;
        font-size: 24px;
        line-height: 33px;
    }

    .publications__item {
        max-width: 330px;
        min-height: 515px;
    }

    .publications__swiper-container {
        padding: 0 39px;
        max-width: 690px;
        margin: 0 auto;
        position: relative;
    }

    .publications__swiper {
        padding-bottom: 50px;
    }

    .publications__pagination.swiper-pagination {
        bottom: 21px;
    }

    .publications__pagination > .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        transform: scale(1);
    }
}

@media screen and (min-width: 1440px) {
    .publications {
        padding: 80px 0 0;
    }

    .publications__heading {
        font-size: 36px;
        line-height: 68px;
        margin: 0 0 30px;
    }

    .publications__swiper-container {
        padding: 0;
        display: flex;
        max-width: 1262px;
        gap: 16px;
        align-items: center;
    }
    .publications__swiper-button {
        position: relative;
        bottom: 20px;
        display: block;
        border: none;
        border-radius: 50%;
        height: 60px;
        background-color: #fff;
        padding: 0;
        flex-basis: 60px;
        min-width: 60px;
        box-sizing: border-box;
    }

    .publications__swiper-button_type_back {
        background-image: url(../images/icons/arrow-right-blue.svg);
        background-repeat: no-repeat;
        background-position: center;
        transform: rotate(180deg);
    }

    .publications__swiper-button_type_forward {
        background-image: url(../images/icons/arrow-right-blue.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .publications__item {
        max-width: 348px;
        min-height: 548px;
    }
}