
.researchlab{
    display: grid;
    grid-gap: 20px;
    grid-template-rows: auto;
    padding: 40px 16px;
    background-color: #E0F0FF;
}

.researchlab__info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.researchlab__info-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.375;
    text-align: center;
}

.researchlab__info-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.researchlab__image:first-child{
    display: none;
}

.researchlab__image:nth-child(2){
    background-image: url(../../images/Lab/image\ 35.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 288px;
    height: 180px;
    margin: 0 auto;
}

.researchlab__text{
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #000D26;
    width: 90%;
}

.researchlab__text:first-child{
    margin-bottom: 16px;
}

.researchlab__cards{
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
    margin: 0 auto;
    width: calc(100vw - 32px);
    justify-content: center;
}

.researchlab__card{
    background-color: #FFFFFF;
    width: 150px;
    height: 224px;
    box-sizing: border-box;
}

@media screen and (min-width: 468px) {

    .researchlab{
        padding: 60px 39px;
    }

    .researchlab__card{
        position: relative;
    }

    .researchlab__cards{
        width: calc(100vw - 39px - 39px);
        justify-content: center;
    }

    .researchlab__card::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url(../../images/Lab/Project.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .researchlab__text:first-child{
        margin-bottom: 20px;
    }

    .researchlab__info-title{
        font-size: 24px;
        letter-spacing: 0.1px;
    }

    .researchlab__info-box{
        display: block;
        gap: 30px;
    }

    .researchlab__image:nth-child(2){
        display: block;
        background-image: url(../../images/Lab/image\ 35\ l.png);
        width: 330px;
        height: 240px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        align-self: center;
        flex-shrink: 0;
        float: right;
        margin-left: 30px;
    }

    .researchlab__card{
        width: 150px;
        height: 242px;
    }

    .researchlab__text{
        font-size: 14px;
        line-height: 1.428;
    }

    .researchlab__text:nth-child(2){
        font-weight: 300;
    }
}

@media screen and (min-width: 468px) and (max-width: 581px) {
    .researchlab__info-box{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .researchlab__image:nth-child(2){
        float:none;
        margin: 0 auto;
        justify-self: center;
    }

    .researchlab__cards{
        width: calc(100vw - 39px - 39px);
        justify-content: center;
    }
}

@media screen and (min-width: 769px) {

    .researchlab{
        padding: 80px 11.45vw;
        grid-gap: 40px;
    }

    .researchlab__info-title{
        font-size: 36px;
        line-height: 1.88;
        margin: 0 auto;
        justify-items: center;
    }

    .researchlab__info{
        max-width: 1110px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    .researchlab__text-box{
        margin: 0;
        width: calc(100vw - 129px - 129px);
    }

    .researchlab__text{
        font-size: 18px;
        line-height: 1.66;
        margin: 0 auto;
    }

    .researchlab__text:nth-child(2){
        line-height: 1.44;
        margin: 0 auto;
    }

    .researchlab__card{
        width: 255px;
        height: 430px;
        position: relative;
    } 

    .researchlab__cards{
        grid-template-columns: repeat(auto-fill, minmax(255px, 255px));
        width: calc(100vw - 11.45vw - 11.45vw);
        grid-gap: 30px;
    }

    .researchlab__card:nth-child(3)::before{
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url(../../images/Lab/Data.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .researchlab__card:nth-child(4)::before{
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url(../../images/Lab/Robot.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .researchlab__card::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url(../../images/Lab/Project.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

        /* .researchlab__images{
            display: flex;
            flex-direction: row;
            gap: 12px;
            width: 540px;
            margin: 0 auto;

        } */

        .researchlab__text-box{
            margin-top: 30px;
        }

     /* .researchlab__image:first-child{
        display: block;
        background-image: url(../../images/Lab/image\ 38\ s.png);
        width: 264px;
        height: 276px;
        border-radius: 10px;
    }  */

    /* .researchlab__image:nth-child(2){
        display: block;
        background-image: url(../../images/Lab/image\ 35\ s.png);
        width: 264px;
        height: 276px;
        border-radius: 10px;
        margin: 0;
    } */
}

@media screen and (min-width: 1024px) {

    .researchlab__images{
        float: right;
        margin-left: 30px;
        margin-bottom: 30px;
    }

    .researchlab__cards{
        grid-gap: 30px;
    }

    .researchlab__text-box{
        width: 77vw;
        margin: 0;
    }

    .researchlab__text{
        margin: 0;
    }

    .researchlab__text:nth-child(2){
        margin: 0;
    } 

}